/* kindle浏览器为webkit内核，使用css3时需手动添加-webkit-* */


/* ---------- DEBUG BEGIN ---------- */


/* show border */


/* #top,
#middle,
#bottom {
    border: 1px black solid;
}

#top>div,
.hitokoto_main {
    border: 1px black dotted;
} */


/* ---------- DEBUG END ---------- */

@media screen and (min-width: 500px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 28px;
    }
}

@font-face {
    font-family: "iconfont";
    src: url("./font/iconfont.eot");
    src: url("./font/iconfont.eot?#iefix") format("embedded-opentype"), url("./font/iconfont.woff2") format("woff2"), url("./font/iconfont.woff") format("woff"), url("./font/iconfont.ttf") format("truetype"), url("./font/iconfont.svg#iconfont") format("svg");
}

@font-face {
    font-family: 'DottedSongtiSquareRegular';
    src: url('./font/DottedSongtiSquareRegular-subfont.ttf');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 7.5rem;
    width: 7.5rem;
    font-weight: 100;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    color: #000000;
    background-color: #ffffff;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.rotate-90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
}

.rotate-180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
}

.rotate-270 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: 2rem;
}

li div {
    display: inline-block;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
}

#light_dark_icon {
    visibility: hidden;
    display: black;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    font-size: 15rem;
    width: 15rem;
}

.fadeout {
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

.fadein {
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    opacity: 1;
}

#log_container {
    position: absolute;
    top: 0;
    left: 0;
}

#top {
    height: 27%;
    width: 100%;
    text-align: center;
}

#middle {
    height: 35%;
    width: 100%;
    text-align: center;
    font-family: 'DottedSongtiSquareRegular';
}

#bottom {
    height: 38%;
    width: 100%;
    text-align: center;
}

#top>div,
#middle>div,
#bottom>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.nonetop_container,
.hitokoto_container,
.weibo_container,
.nonebtm_container,
.weather_container {
    display: none;
}

.hitokoto_container {
    margin: 0 auto;
    width: 90%;
}

.hitokoto_main {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
}

#brackets-l {
    position: absolute;
    top: 0;
    left: 0;
}

#brackets-r {
    position: absolute;
    bottom: 0;
    right: 0;
}

#hitokoto {
    display: inline-block;
    padding: 1rem;
    max-width: 80%;
}

#from {
    text-align: right;
    font-size: 1.25rem;
    line-height: 2.5rem;
    /* padding-right: 0.75rem; */
}

.poem_container {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

#poem_sentence {
    line-height: 4rem;
}

#poem_info {
    font-size: 1.25rem;
    text-align: right;
}

.weibo_container {
    font-size: 1.5rem;
}

.weibo_title {
    padding-bottom: 0.5rem;
}

#hot_word,
#hot_word_num {
    display: inline-block;
}

#hot_word {
    text-align: left;
    margin-right: 1rem;
    max-width: 25rem;
}

#hot_word_num {
    width: auto;
}

#hot_word li,
#hot_word_num {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.time_container {
    position: relative;
}

#apmOuterWrapper {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.75rem;
    position: absolute;
    top: 0;
    left: 5%;
    width: 4rem;
    height: 10rem;
}

#apmInnerWrapper {
    position: relative;
    height: 100%;
}

#apm {
    position: absolute;
    top: 50%;
    left: 0.25rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    font-size: 2rem;
}

.time {
    font-size: 13rem;
    line-height: 10rem;
    font-weight: normal;
    text-align: center;
}

.date {
    font-size: 3rem;
    line-height: 3rem;
}

.weaWrapper {
    width: 100%;
}

#weaTitle {
    font-size: 1.5rem;
}

#weaImg {
    display: inline-block;
    float: left;
    margin-left: 1.75rem;
    font-size: 1.5rem;
}

#weaImg>div,
#weaTemp>div:last-child {
    margin-top: 0.75rem;
}

#weaTemp {
    display: inline-block;
    float: right;
    margin-right: 1.75rem;
    font-size: 1.5rem;
    font-family: 'DottedSongtiSquareRegular';
}

.tempNum {
    display: inline-block;
    font-size: 7rem;
    font-weight: 400;
    line-height: 8.125rem;
}

.symbol {
    display: inline-block;
    font-size: 3rem;
    line-height: 3rem;
}

#weaInfo {
    display: inline-block;
    left: 1rem;
    position: relative;
    /* text-align: right; */
    font-size: 1.5rem;
    line-height: 1.75rem;
    margin-top: 0.25rem;
}

.pic {
    color: #ffffff;
    background-color: #ffffff;
    -webkit-text-stroke: 1px #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* -webkit-filter: grayscale(100%); */
    background-image: url('https://source.unsplash.com/random');
    font-weight: 800;
    /* -webkit-transition: color, background-color 1s;
    transition: color, background-color 1s; */
}

.light {
    color: #000000;
    background-color: #ffffff;
    background-image: none !important;
    /* -webkit-transition: color, background-color 1s;
    transition: color, background-color 1s; */
}

.dark {
    color: #ffffff;
    background-color: #000000;
    background-image: none !important;
    /* -webkit-transition: color, background-color 1s;
    transition: color, background-color 1s; */
}