@media screen and (min-width: 500px) {
    html {
        font-size: 16px;
    }
}

@media screen and (min-width: 1000px) {
    html {
        font-size: 28px;
    }
}

@font-face {
    font-family: "iconfont";
    src: url("./font/iconfont.eot");
    src: url("./font/iconfont.eot?#iefix") format("embedded-opentype"), url("./font/iconfont.woff2") format("woff2"), url("./font/iconfont.woff") format("woff"), url("./font/iconfont.ttf") format("truetype"), url("./font/iconfont.svg#iconfont") format("svg");
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 7.5rem;
    width: 7.5rem;
    font-weight: 100;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #000000;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.horizontal {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform-origin: center center;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    line-height: 2rem;
}

li div {
    display: inline-block;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#log_container {
    position: absolute;
    top: 0;
    left: 0;
}

#top {
    height: 15%;
    width: 100%;
    text-align: center;
    margin: 1.25rem;
    flex-shrink: 0;
}

#middle {
    height: 40%;
    width: 100%;
    text-align: center;
}

#bottom {
    height: 40%;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
}

.nonetop_container {
    height: 100%;
}

.hitokoto_container {
    margin: 0 1rem;
    padding: 0.5rem 0;
}

.hitokoto_main {
    position: relative;
    text-align: center;
    font-size: 1.5rem;
}

.brackets-l {
    position: absolute;
    top: 0;
    left: 0;
}

.brackets-r {
    position: absolute;
    bottom: 0;
    right: 0;
}

#hitokoto {
    padding: 1.875rem 2.5rem;
}

#from {
    float: right;
    font-size: 1.25rem;
    margin: 0.5rem;
}

.weibo_container {
    font-size: 1.5rem;
}

.weibo_title {
    padding-bottom: 0.5rem;
}

#hot_word,
#hot_word_num {
    display: inline-block;
}

#hot_word {
    text-align: left;
    margin-right: 1rem;
    max-width: 25rem;
}

#hot_word_num {
    width: auto;
}

#hot_word li,
#hot_word_num {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.time_container {
    position: relative;
}

#apm {
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.75rem;
    position: absolute;
    top: 50%;
    left: 3%;
    width: 4rem;
    height: 7.5rem;
    margin-top: -5.5rem;
}

.time {
    font-size: 12.5rem;
    font-weight: normal;
    border: 1px solid;
}

.date {
    font-size: 3rem;
}

.weather_container {
    margin-top: 2rem;
}

#weaTitle {
    font-size: 1.5rem;
}

#weaImg {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 1.5rem;
}

#weaImg>div,
#weaTemp>div:last-child {
    margin-top: 0.75rem;
}

#weaTemp {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 1.5rem;
}

.tempNum {
    display: inline-block;
    font-size: 6.875rem;
    font-weight: 400;
}

.symbol {
    display: inline-block;
    font-size: 3rem;
}

#weaInfo {
    display: inline-block;
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.pic {
    color: #ffffff;
    -webkit-text-stroke: 1px #000;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(100%);
    /*background-image: url('https://source.unsplash.com/random/1072x1448');*/
    font-weight: 800;
}

.white {
    color: #000000;
    background-color: #ffffff;
    background-image: none !important;
}

.dark {
    color: #ffffff;
    background-color: #000000;
    background-image: none !important;
}